<a href="{{ profile.url }}"{% if profile.network != "email" %} target="_blank"{% endif %}>
  <svg class="tf-social">
    {% if profile.network == "email" %}
      <use xlink:href="{{ '/img/bootstrap-icons.svg' | prepend: site.baseurl }}#envelope"/>
    {% else %}
      <use xlink:href="{{ '/img/bootstrap-icons.svg' | prepend: site.baseurl }}#{{ profile.network }}"/>
    {% endif %}
  </svg>
  <span>
    {% if profile.network == "email" %}
      {{ profile.username }}
    {% else %}
      {{ profile.username }}
    {% endif %}
  </span>
</a>
